.credit-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 30px;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center
}

.credit-card img {
    height: 15px;
    position: relative;
    left: 120px
}

.password {
    font-size: 30px;
}

.number {
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}

.footer {
    font-size: 10px;
    text-align: left;
}

.bank {
    margin-left: 5px
}